body {
                color: rgb(117, 121, 146);
                background-color: rgb(37, 37, 37);
                /*background-color: #12132e;  --dark blue background theme*/
                /*background-color: rgba(1, 38, 0, 0.8);*/
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
                font-family: Calibri, sans-serif;
                background:
                    linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.3)),
                    /*url('https://static.vecteezy.com/system/resources/previews/012/979/482/original/modern-high-resolution-dark-geometric-background-with-polygonal-grid-abstract-black-metallic-hexagonal-pattern-simple-illustration-vector.jpg') no-repeat center center;*/
                    /*url('https://cdn.openart.ai/stable_diffusion/f612de105abe85c7d43e6c67f2217d932350b781_2000x2000.webp') no-repeat center center;*/
                    url('https://raw.githubusercontent.com/ceshiftmike/My-Portfolio/main/images/portfoliobg003.png') no-repeat center center;
                background-size: cover;
                background-attachment: fixed;
                              
            }
            .name-headerdiv {
                /* position: fixed; */
                display: flex;
                justify-content: center;
                /* align-items: center; */
                flex-wrap: wrap;
                text-align: center;
                overflow: hidden;
                }
            .descriptor, ul, li {
                color: rgb(152, 157, 191);
                text-align: left;
            }
            a {
                /* color: rgb(117, 121, 146); */
                color: #ffffff0f;
                text-decoration: none;
            }
            h1, h2, h3, h4, h5, h6 {
                font-family: 'Merriweather', serif;
            }
            .card-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                /* border: 0px solid #fff; */
            }
            .card-header {
                /* width: 45%; */
                border: 0px solid #ccc;
                border-radius: 0px;
                overflow: hidden;
                padding: 0px 0px 2px 0px solid #ccc;
                margin: 0px;
                /* display: flex;                */
            }
            
            .card-work {
                width: 300px;
                border: 1px solid #ccc;
                border-radius: 8px;
                overflow: hidden;
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                text-align: center;
                padding: 20px;
                margin: 10px;
                background-color: rgb(45, 45, 78);
                box-shadow: 0 4px 8px rgba(89, 89, 110, 0.1);
                }
            .card-skill {
                width: 300px;
                height: 300px;
                border: 0px solid #ccc;
                border-radius: 8px;
                overflow: auto; 
                scrollbar-width: 0;
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                text-align: center;
                padding: 20px;
                margin: 10px;
                background-color: rgb(45, 45, 78, 0.2);
                color: #ffffff;
                /*color: #c4cbff;*/
                box-shadow: 10px 10px 10px rgba(45, 45, 78, 0.75);
                }
                .card-skill::-webkit-scrollbar {
                    display: none;
                }
            .card-certificate {
                width: 300px;
                height: 180px;
                border: 0px solid #ccc;
                border-radius: 8px;
                overflow: hidden;
                text-align: center;
                padding: 20px;
                margin: 10px;
                /* background-color: rgb(47, 4, 58, 0.5); */
                /* color: #c4cbff; */
                color: #ffffff;
                box-shadow: 10px 10px 10px rgba(47, 4, 58, 0.75);
            }
            
            .card-body {
                padding: 20px;
            }
            .divider-hor {
                width: 90%;;
                border-top: 2px solid rgba(62, 62, 82, 0.75);
                /* border-top: 2px solid #ccc; */
                margin: 20px auto;
                align-items: center;
                justify-content: center;
                padding: 0;
                text-align: center;
                color: #ffffff;
            }
            .divider-vert {
                height: 120px;
                width: 1px;
                border-left: 2px solid rgba(62, 62, 82, 0.75);
                margin-left: 2px;
                margin-right: 2px;
                align-items: center;
                justify-content: center;
                padding: 0;
            }
            .excel {
                content: "";
                position: relative;
                /*background-image: url('https://www.onedirectory.com/blog/content/images/size/w960/2023/12/Excel-Employee-Directory-Template-2.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;*/
                background:
                    linear-gradient(90deg,rgba(0,0,0,.9),rgba(0,0,0,0.4)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/Excel-Employee-Directory-Template-2.jpg') no-repeat center center;
                background-size: cover;
            }
            .excel-vba {
                content: "";
                position: relative;
                background:
                    linear-gradient(90deg,rgba(0,0,0,.9),rgba(0,0,0,0.4)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/ExcelVBA.jpg') no-repeat center center;
                background-size: cover;
            }
            
            .powerautomate {
                background:
                    linear-gradient(90deg,rgba(0,0,0,.9),rgba(0,0,0,.4)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/Power-Automate.png') no-repeat center center;
                background-size: cover;
            }
            .powerbi {
                background:
                    linear-gradient(90deg, rgba(0,0,0,0.9),rgba(0,0,0,.4)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/powerBI.png') no-repeat center center;
                background-size: cover;
            }
            .ms365 {
                background:
                    linear-gradient(90deg, rgba(0,0,0,.9),rgba(0,0,0,.4)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/MS365.jpg') no-repeat center center;
                background-size: cover;
            }
            .htmlcss {
                background:
                    linear-gradient(90deg, rgba(0,0,0,.9),rgba(0,0,0,.4)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/csshtml.png') no-repeat center center;
                background-size: cover;
            }
            /* CSS MICROSOFT ACHIEVEMENTS AND CERTIFICATES */
                /* HIGH LEVEL CERTIFICATES */
                .azureDatafundamental-explorecoredataconcepts {
                    background:
                        linear-gradient(45deg,rgb(58, 4, 26, 1),rgb(58, 4, 26, 0.7),rgb(58, 4, 26, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/Microsoft-Azure-Data-Fundamentals-Explore-core-data-concepts.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                    
                }
                .getstartedwithMSdataanalytics {
                    background:
                        linear-gradient(45deg,rgb(58, 4, 26, 1),rgb(58, 4, 26, 0.7),rgb(58, 4, 26, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/Get-started-with-Mirosoft-data-analytics.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .basics_powerBI-powerAutomate-powerApps {
                    background:
                        linear-gradient(45deg,rgb(58, 4, 26, 1),rgb(58, 4, 26, 0.7),rgb(58, 4, 26, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/learn-the-basics-of-PowerBI_desktop-Power_Automate-and-PowerApps.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .createmanagePowerAutomate {
                    background:
                        linear-gradient(45deg,rgb(58, 4, 26, 1),rgb(58, 4, 26, 0.7),rgb(58, 4, 26, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/create-and-manage-automated-processes-by-using-power-automate.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .getStartedwithPowerAutomate {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/get-started-with-power-automate.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .igniteChallengeMSfabric {
                    background:
                        linear-gradient(45deg,rgb(58, 4, 26, 1),rgb(58, 4, 26, 0.7),rgb(58, 4, 26, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/ignite-challenge-ms-fabric.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .powerautomateDeepintegrationmultipleDataSources {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/power-automate-deep-integration-accross-multiple-data-sources.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .buildflowstomanageUserinfo {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/build-flows-to-manage-user-info.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .getstartedwithPowerAppCanvasApp {
                    background:
                        linear-gradient(45deg,rgb(58, 4, 26, 1),rgb(58, 4, 26, 0.7),rgb(58, 4, 26, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/get-started-with-powerapps-canvasapps.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .buildapprovalwithPowerAutomate {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/build-approval-flows-with-power-automate.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .extenddatainsightswithcopilotinPowerBI {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/extend-data-insights-with-copilot-in-powerbi.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .administermsfabric {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/administer-a-microsoft-fabric-environment.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .createpowerbimodelRelationships {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/create-powerbi-model-relationships.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .getstartedwithRealtimeintelinmsfabric {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/get-started-with-real-time-intelligence-in-ms-fabric.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .securemsfabricDatawarehouse {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/secure-a-msfabric-dwh.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .loaddataintoMSfabricDWH {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/load-data-into-a-msfabric-dwh.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .getstartedwithDWHinMSfabric {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/get-started-with-DWH-in-MSfabric.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .ingestdatawithDataflowsGen2inMSfabric {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/ingest-data-with-dataflows-gen2-in-msfabric.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .usedatafactorypipelinesinMSfabric {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/use-data-factory-pipelines-in-msfabric.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .useApachesparkinMSfabric {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/use-apache-spark-in-MSfabric.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .getstartedwithLakehousesinMSfabric {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/get-started-with-lakehouses-in-msfabric.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .introtoE2EanalyticsusingMSfabric {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/intro-to-end-to-end-analytics-using-msfabric.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .explorefundamentalrelationalDataconcepts {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/explore-fundamental-relational-data-concepts.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .exploreDatarolesandServices {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/explore-data-roles-and-services.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .exploreCoredataconcepts {
                    background:
                        linear-gradient(45deg,rgb(58, 4, 26, 1),rgb(58, 4, 26, 0.7),rgb(58, 4, 26, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/explore-core-data-concepts.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .introtoDataengineeringonAzure {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/intro-to-data-engineering-on-azure.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .configureaJSapplicationtoretrieveMS365databyusingMSgraph {
                    background:
                        linear-gradient(45deg,rgb(58, 4, 26, 1),rgb(58, 4, 26, 0.7),rgb(58, 4, 26, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/configure-a-JS-application-to-retrieve-MS365-data-by-using-MSgraph.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .whatisMSgraph {
                    background:
                        linear-gradient(45deg,rgb(58, 4, 26, 1),rgb(58, 4, 26, 0.7),rgb(58, 4, 26, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/what-is-msgraph.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .getdatawithPowerBIdesktop {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/get-data-with-powerbi-desktop.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .getstartedbuildingwithpowerBI {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/get-started-building-with-powerBI.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
                .discoverDatanalysis {
                    background:
                        linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                        url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/discover-data-analysis.png') no-repeat right bottom;
                    background-size: cover;
                    margin: 5px;
                }
            /*CSS OTHER CARD-CERTIFICATES*/
            .excel-cert {
                background: 
                linear-gradient(45deg,rgb(58, 4, 26, 1),rgb(58, 4, 26, 0.7),rgb(58, 4, 26, 0.5)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/certificate_excleessentials.png') no-repeat left center;
                    /* linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)), */
                    
                background-size: cover;
                margin: 0px;
            }
            .agile-cert {
                background:
                    linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/Cert_Change_management_in_Agile.png') no-repeat center center;
                background-size: contain;
                }
            .habits7 {
                background:
                    linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/cert_7habits.png') no-repeat center center;
                background-size: contain;
            }
            .modernConst {
                background:
                    linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/cert_modernConstmanagement.png') no-repeat center center;
                background-size: contain;
            }