body {
                color: rgb(117, 121, 146);
                background-color: rgb(37, 37, 37);
                /*background-color: #12132e;  --dark blue background theme*/
                /*background-color: rgba(1, 38, 0, 0.8);*/
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
                font-family: Calibri, sans-serif;
                background:
                    linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.3)),
                    /*url('https://static.vecteezy.com/system/resources/previews/012/979/482/original/modern-high-resolution-dark-geometric-background-with-polygonal-grid-abstract-black-metallic-hexagonal-pattern-simple-illustration-vector.jpg') no-repeat center center;*/
                    /*url('https://cdn.openart.ai/stable_diffusion/f612de105abe85c7d43e6c67f2217d932350b781_2000x2000.webp') no-repeat center center;*/
                    url('https://raw.githubusercontent.com/ceshiftmike/My-Portfolio/main/images/portfoliobg003.png') no-repeat center center;
                background-size: cover;
                background-attachment: fixed;
                              
            }
            .name-headerdiv {
                display: flex;
                justify-content: center;
                /* align-items: center; */
                flex-wrap: wrap;
                text-align: center;
                overflow: hidden;
                }
            .descriptor, ul, li {
                color: rgb(152, 157, 191);
                text-align: left;
            }
            a {
                color: rgb(117, 121, 146);
            }
            h1, h2, h3, h4, h5, h6 {
                font-family: 'Merriweather', serif;
            }
            .card-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
            .card-container .microsoft {
                background:
                    linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/1251337-3840x2160-desktop-4k-microsoft-wallpaper-photo.jpg') no-repeat right bottom;
                background-size: cover;
            }
            .card-header {
                /* width: 45%; */
                border: 0px solid #ccc;
                border-radius: 0px;
                overflow: hidden;
                padding: 0px;
                margin: 0px;
                /* display: flex;                */
            }
            
            .card-work {
                width: 300px;
                border: 1px solid #ccc;
                border-radius: 8px;
                overflow: hidden;
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                text-align: center;
                padding: 20px;
                margin: 10px;
                background-color: rgb(45, 45, 78);
                box-shadow: 0 4px 8px rgba(89, 89, 110, 0.1);
                }
            .card-skill {
                width: 300px;
                height: 300px;
                border: 0px solid #ccc;
                border-radius: 8px;
                overflow: auto; 
                scrollbar-width: 0;
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                text-align: center;
                padding: 20px;
                margin: 10px;
                background-color: rgb(45, 45, 78, 0.2);
                color: #ffffff;
                /*color: #c4cbff;*/
                box-shadow: 10px 10px 10px rgba(45, 45, 78, 0.75);
                }
                .card-skill::-webkit-scrollbar {
                    display: none;
                }
            .card-certificate {
                width: 300px;
                height: 180px;
                border: 0px solid #ccc;
                border-radius: 8px;
                overflow: hidden;
                text-align: center;
                padding: 20px;
                margin: 10px;
                background-color: rgb(47, 4, 58, 0.5);
                color: #c4cbff;
                box-shadow: 10px 10px 10px rgba(47, 4, 58, 0.75);
            }
            
            .card-body {
                padding: 20px;
            }
            .divider-hor {
                width: 90%;;
                border-top: 2px solid rgba(62, 62, 82, 0.75);
                /* border-top: 2px solid #ccc; */
                margin: 20px auto;
                align-items: center;
                justify-content: center;
                padding: 0;
                text-align: center;
                color: #ffffff;
            }
            .divider-vert {
                height: 120px;
                width: 1px;
                border-left: 2px solid rgba(62, 62, 82, 0.75);
                margin-left: 2px;
                margin-right: 2px;
                align-items: center;
                justify-content: center;
                padding: 0;
            }
            .excel {
                content: "";
                position: relative;
                /*background-image: url('https://www.onedirectory.com/blog/content/images/size/w960/2023/12/Excel-Employee-Directory-Template-2.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;*/
                background:
                    linear-gradient(90deg,rgba(0,0,0,.9),rgba(0,0,0,0.4)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/Excel-Employee-Directory-Template-2.jpg') no-repeat center center;
                background-size: cover;
            }
            .excel-vba {
                content: "";
                position: relative;
                background:
                    linear-gradient(90deg,rgba(0,0,0,.9),rgba(0,0,0,0.4)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/ExcelVBA.jpg') no-repeat center center;
                background-size: cover;
            }
            
            .powerautomate {
                background:
                    linear-gradient(90deg,rgba(0,0,0,.9),rgba(0,0,0,.4)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/Power-Automate.png') no-repeat center center;
                background-size: cover;
            }
            .powerbi {
                background:
                    linear-gradient(90deg, rgba(0,0,0,0.9),rgba(0,0,0,.4)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/powerBI.png') no-repeat center center;
                background-size: cover;
            }
            .ms365 {
                background:
                    linear-gradient(90deg, rgba(0,0,0,.9),rgba(0,0,0,.4)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/MS365.jpg') no-repeat center center;
                background-size: cover;
            }
            .htmlcss {
                background:
                    linear-gradient(90deg, rgba(0,0,0,.9),rgba(0,0,0,.4)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/csshtml.png') no-repeat center center;
                background-size: cover;
            }
            /* CSS MICROSOFT ACHIEVEMENTS AND CERTIFICATES */

            .azureDatafundamental-explorecoredataconcepts {
                background:
                    linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/Microsoft-Achievements/Microsoft-Azure-Data-Fundamentals-Explore-core-data-concepts.png') no-repeat right bottom;
                background-size: cover;
                margin: 5px;
                
            }

            /*CSS OTHER CARD-CERTIFICATES*/
            .excel-cert {
                background:
                    linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/certificate_excleessentials.png') no-repeat right bottom;
                background-size: contain;
                margin: 0px;
            }
            .agile-cert {
                background:
                    linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/Cert_Change_management_in_Agile.png') no-repeat center center;
                background-size: contain;
                }
            .habits7 {
                background:
                    linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/cert_7habits.png') no-repeat center center;
                background-size: contain;
            }
            .modernConst {
                background:
                    linear-gradient(45deg,rgb(47, 4, 58, 1),rgb(47, 4, 58, 0.7),rgb(47, 4, 58, 0.5)),
                    url('https://raw.githubusercontent.com/CEshiftMike/My-Portfolio/main/images/cert_modernConstmanagement.png') no-repeat center center;
                background-size: contain;
            }